.chrome-extension-capture-gif-form-item {
    padding: 10px 24px;
    color: rgba(0,0,0,0.65);
}

.chrome-extension-capture-gif-form-item-label {
    display: block;
    margin: 0;
    padding: 0 0 8px;
    line-height: 1.5;
    white-space: nowrap;
    text-align: left;
    flex-shrink: 0;
}

.chrome-extension-capture-gif-required::after {
    content: "*";
    color: red
}

.chrome-extension-capture-gif-select {
    width: 100%;
}

.chrome-extension-capture-gif-button {
    line-height: 32px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    user-select: none;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
}

.chrome-extension-capture-gif-button-primary {
    color: #fff;
    background-color: #1890ff;
}

#chrome-extension-capture-gif-submit-config {
    width: 100%;
}
